@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

.gradient h1.form-register-heading {
    padding: 25px 20px;
    text-align: center;
    color: #080808;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
}
.gradient { /*颜色渐变*/
    background: #dddcdc;
    background: -moz-linear-gradient(top, #dddcdc 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddcdc), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #dddcdc 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #dddcdc 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #dddcdc 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #dddcdc 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddcdc', endColorstr='#ffffff', GradientType=0);
}
.hw{
    margin: 15px;
    padding-bottom: 15px;
}
.www {
    display: block;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    content: "";
}
.www h5{
    color: black;
}
:root .gradient {
    filter: none;
}

.register-model {
    max-width: 500px;
    margin: 20px auto 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.dddd input {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.dddd h2 {
    padding-top: 10px;
    margin-top: 10px;
}

body {
    margin: 100%;
}

.createwrap {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    width: 100%;
}

.btn-s {
    width: 20%;
}

.verification {
    width: 100%;
    color: black;
    text-align: center;
}

.www {
    width: 80%;
}